:root {
    --primary-light-color: #AFDDE5;
    --secondary-light-color: #0FA4AF;
    --red: #964734;
    --primary-dark-color: #024950;
    --secondary-dark-color: #003135;   
    --font-family: Arial, Helvetica, sans-serif;
}

#posts {
    display: flex;
    justify-content: center;
    max-width: 600px;
    flex-direction: column;
    margin: 20px;
    margin-left: 33%;
    padding: 20px;
}

.blog-post {
    text-align: center;
    margin-bottom: 20px;
    padding: 50x;
    border: 5px double var(--red);
    border-radius: 5px;
    background-color: var(--secondary-light-color);
}

.dark-mode .blog-post {
    background-color: var(--primary-dark-color);
    color: white;
}

h2 {
    margin-bottom: 12px;
}

p {
    text-indent: 50px;
    letter-spacing: 1.2px;
    line-height:2;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer a {
    color: var(--red);
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}


.header-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    background-color: var(--primary-dark-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

.header-btn:hover {
    background-color: var(--secondary-dark-color);
}

.dark-mode .header-btn {
    background-color: var(--primary-light-color);
    color: black;
}

.dark-mode #submit-btn:hover {
    background-color: var(--secondary-light-color);
}